//@theme "/home/hexangle/.local/share/rofi/themes/squared-nord.rasi"
//@theme "/home/hexangle/.local/share/rofi/themes/hexrofi.rasi"
//@theme "/home/hexangle/.local/share/rofi/themes/hexrofi.rasi"
@theme "/home/hexangle/.local/share/rofi/themes/hexrofi.rasi"
